* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0b0b;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* nav bar */

nav {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(63, 63, 63);
    gap: 10px;
}
 
nav img {
    height: 30px;
}

nav h2 {
    font-size: 15px;
    font-weight: 400;
}



/* head */


.head {
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.head img {
    height: 60px;
    width: 60px;
}

.head h1 {
    font-weight: 500;
    font-size: 29px;
}

.head .idk {
    border: 1px solid rgb(60, 60, 60);
    padding: 3px;
    border-radius: 30px;
    width: 295px; /* will get changed */
    display: flex;
    gap: 10px;
    align-items: center;
}

.idk img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.idk .img2 {
    height: 10px;
    width: 12px;
}

.idk h3 {
    font-weight: 400;
    font-size: 12px;
}

.shit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 50px 25px;
}

.inpdad {
    display: flex;
    align-items: center;
    gap: 14px;
}

.inpdad label {
    font-size: 13px;
    color: #e3e3e3;
}

.check {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check:checked {
    background-color: rgb(54, 54, 211);
    border: 1px solid gray;
}

.check:checked::after {
    content: '✓';
    color: white;
    
}

.shit .inp1 {
    color: #e3e3e3;
    background-color: #0b0b0b;
    width: 100%;
    padding: 19px 30px 19px 19px;
    border: 1px solid rgb(67, 67, 67);
    border-radius: 3px;
}


.last {
    margin: 50px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last h3 {
    font-size: 12px;
    font-weight: 400;
    color: #A8C7FA;
}

.last .btnx {
    padding: 12px 20px;
    border-radius: 35px;
    color: #062E6F;
    background-color: #B6D0FB;
    border: none;
    font-weight: 600;
}


.fut {
    margin: 40px 25px;
}

.fotter {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 20px;
}

.fotter h4 {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.598);
}


